.quantity-button {
  --product-quantity-color: #{$primary-brown};
  --product-quantity-hover-color: #{$accent-brown};
  --product-quantity-input-color: #{$primary-yellow};
  --product-quantity-input-bg-color: #{$primary-brown};
  --product-quantity-input-hover-box-shadow-color: #{$primary-yellow-box-shadow};
  
  display: flex;

  input {
    width: 34px;
    padding: 0;
    border: 0;
    line-height: 32px;
    height: 32px;
    background-color: var(--product-quantity-input-bg-color);
    color: var(--product-quantity-input-color);
    border-radius: 12px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: 0.25s box-shadow ease-out;

    &:hover, &:focus {
      background-color: var(--product-quantity-input-bg-color);
      color: var(--product-quantity-input-color);
      border-color: transparent;
      outline: 0;
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem var(--product-quantity-input-hover-box-shadow-color);
    }
  }

  button {
    padding: 0;
    font-size: 26px;
    line-height: 26px;
    border: none;
    background-color: transparent;
    color: var(--product-quantity-color);
    transition: 0.25s color ease-out;

    &.increment {
      padding-left: 8px;
      .confirmation {
        color: var(--bs-success);
      }
    }

    &.decrement {
      padding-right: 8px;
      .confirmation {
        color: var(--bs-danger);
      }
    }

    &:hover {
      color: var(--product-quantity-hover-color);
    }

    &:focus {
      box-shadow: none;
    }

    &:disabled {
      opacity: 1;
    }

    .spinner-border {
      border-width: 0.125rem;
    }
  }
}
