$component-name: blockcart;

.#{$component-name} {
  &-modal {
    --shoppingcart-modal-bg-color: #{$primary-white};

    --shoppingcart-modal-title-color: #{$primary-brown};

    --shoppingcart-modal-close-color: #{$accent-white};
    --shoppingcart-modal-hover-close-color: #{$primary-brown};

    .modal-dialog {
      @include media-breakpoint-up(lg) {
        max-width: 1250px;
      }
    }

    .modal-content {
      border: none;
      border-radius: 8px;
      background-color: var(--shoppingcart-modal-bg-color);
    }

    .modal-header {
      padding: 40px;
      border: none;

      .btn-close {
        padding: 0;
        margin: 0;
        margin-left: auto;
        width: 40px;
        height: 40px;
        background: transparent;
        color: var(--shoppingcart-modal-close-color);
        opacity: 1;

        .material-symbols-outlined {
          font-size: 35px;
          color: var(--shoppingcart-modal-close-color);
          transition: color 0.3s ease;
        }
      }

      .btn-close:hover {
        .material-symbols-outlined {
          color: var(--shoppingcart-modal-hover-close-color);
        }
      }
    }

    .modal-title {
      display: inline-flex;
      align-items: stretch;

    }

    &__total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }

    &__summery {
      .product-total,
      .product-tax {
        font-weight: 700;
      }
    }

    &__product {
      img {
        border-radius: 8px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 1rem;
        }
      }

      @include media-breakpoint-down(md) {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px dotted rgba($black, 0.2);
      }
    }
  }
}
