$component-name: footer;

.#{$component-name} {
  --footer-background-color: #{$brown-color};

  --footer-email-title-color: #{$yellow-color};
  --footer-email-caption-color: #{$white-color};
  --footer-email-heading-color: #{$white-color};

  --footer-email-input-color: #{$white-color};
  --footer-email-input-bg-color: #{$dark-yellow-color};
  --footer-email-hover-input-bg-color: #{$dark-brown-color};

  --footer-email-btn-color: #{$brown-color};
  --footer-email-btn-bg-color: #{$yellow-color};
  --footer-email-hover-btn-bg-color: #{$hover-yellow-color};

  --footer-title-color: #{$yellow-color};
  --footer-link-color: #{$white-color};

  & &__main {
    padding: 35px 0 15px;
    background: var(--footer-background-color);

    &-top {
      display: flex;
      flex-direction: row;
      gap: 106px;
      padding-bottom: 50px;
    }

    &-middle {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 18px 0;
    }
  }
  
  &__email-subscription {
    max-width: 213px;

    &__content {
      display: flex;
      flex-direction: column;

      &-logo {
        margin-bottom: 25px;
      }

      &-title {
        margin-bottom: 15px;
        
        * {
          margin: 0;
        }

        &-label {
          font-size: 12px;
          line-height: normal;
          font-weight: normal;
          color: var(--footer-email-caption-color);
          display: inline-flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;

          strong {
            font-size: 16px;
            line-height: normal;
            font-weight: normal;
            color: var(--footer-email-title-color);
          }
        }
      }

      &-inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      &-input {
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        padding: 16px;
        line-height: normal;
        font-size: 12px;
        font-weight: normal;
        color: var(--footer-email-input-color);
        background-color: var(--footer-email-input-bg-color);
        border: none;
        border-radius: 8px;

        &:focus {
          color: var(--footer-email-input-color);
          background-color: var(--footer-email-hover-input-bg-color);
          box-shadow: none;
        }
      }

      &-btn {
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        padding: 14px 0 13px;
        line-height: normal;
        font-size: 16px;
        font-weight: normal;
        color: var(--footer-email-btn-color);
        background-color: var(--footer-email-btn-bg-color);
        border: none;
        border-radius: 8px;

        &:hover {
          color: var(--footer-email-btn-color);
          background-color: var(--footer-email-hover-btn-bg-color);
          box-shadow: none;
        }
      }
    }
  }

  & &__block {
    &-title {
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 15px;
      color: var(--footer-title-color);
    }

    &-content {
      margin-bottom: 0;
      gap: 12px;
      display: flex;
      flex-direction: column;

      a {
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        color: var(--footer-link-color);
      }
    }
  }

}
