$component-name: footer;

.#{$component-name} {
  --footer-background-color: #{$primary-brown};

  --footer-email-title-color: #{$primary-yellow};
  --footer-email-caption-color: #{$primary-white};
  --footer-email-heading-color: #{$primary-white};

  --footer-email-input-color: #{$primary-white};
  --footer-email-input-bg-color: #{$accent-yellow};
  --footer-email-hover-input-bg-color: #{$accent-brown};

  --footer-email-btn-color: #{$primary-brown};
  --footer-email-btn-bg-color: #{$primary-yellow};
  --footer-email-hover-btn-bg-color: #{$secondary-yellow};

  --footer-title-color: #{$primary-yellow};
  --footer-link-color: #{$primary-white};
  --footer-phone-color: #{$primary-yellow};
  --footer-timetable-title-color: #{$accent-white};
  --footer-timetable-color: #{$primary-white};
  --footer-email-color: #{$primary-yellow};

  --footer-copyright-text-color: #{$tertiary-yellow};
  --footer-social-color: #{$primary-yellow};

  --footer-link-hover-color: #{$primary-yellow};
  --footer-phone-hover-color: #{$secondary-yellow};
  --footer-email-hover-color: #{$secondary-yellow};
  --footer-social-hover-color: #{$secondary-yellow};

  & &__main {
    padding: 35px 0 15px;
    background: var(--footer-background-color);

    &-top {
      display: flex;
      flex-direction: row;
      gap: 106px;
      padding-bottom: 50px;
    }

    &-middle {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 18px 0;
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &__email-subscription {
    max-width: 213px;

    &__content {
      display: flex;
      flex-direction: column;

      &-logo {
        margin-bottom: 25px;
      }

      &-title {
        margin-bottom: 15px;
        
        * {
          margin: 0;
        }

        &-label {
          font-size: 12px;
          line-height: normal;
          font-weight: normal;
          color: var(--footer-email-caption-color);
          display: inline-flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;

          strong {
            font-size: 16px;
            line-height: normal;
            font-weight: normal;
            color: var(--footer-email-title-color);
          }
        }
      }

      &-inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      &-input {
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        padding: 16px;
        line-height: normal;
        font-size: 12px;
        font-weight: normal;
        color: var(--footer-email-input-color);
        background-color: var(--footer-email-input-bg-color);
        border: none;
        border-radius: 8px;

        &:focus {
          color: var(--footer-email-input-color);
          background-color: var(--footer-email-hover-input-bg-color);
          box-shadow: none;
        }
      }

      &-btn {
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        padding: 14px 0 13px;
        line-height: normal;
        font-size: 16px;
        font-weight: normal;
        color: var(--footer-email-btn-color);
        background-color: var(--footer-email-btn-bg-color);
        border: none;
        border-radius: 8px;

        &:hover {
          color: var(--footer-email-btn-color);
          background-color: var(--footer-email-hover-btn-bg-color);
          box-shadow: none;
        }
      }
    }
  }

  & &__block {
    &-title {
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 15px;
      color: var(--footer-title-color);
    }

    &-content {
      margin-bottom: 0;
      gap: 12px;
      display: flex;
      flex-direction: column;

      a {
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        color: var(--footer-link-color);

        &:hover {
          color: var(--footer-link-hover-color);
        }
      }
    }
  }

  & &__contact {
    max-width: 216px;

    &-content {
      gap: 0px;
    }

    &-phone {
      margin-bottom: 6px;
      a {
        color: var(--footer-phone-color);
        font-size: 16px;
        font-weight: bold;
        line-height: normal;

        &:hover {
          color: var(--footer-phone-hover-color);
        }
      }
    }

    &-timetable-title {
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      color: var(--footer-timetable-title-color);
      margin-bottom: 12px;
      margin-top: 12px;
    }

    &-timetable {
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      color: var(--footer-timetable-color);
      margin-bottom: 12px;
    }

    &-email {
      display: flex;
      align-items: center;
      gap: 10px;

      i {
        font-size: 22px;
        color: var(--footer-email-color);
        transition: 0.25s color ease-out;
      }
      
      a {
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
        color: var(--footer-email-color);
      }

      &:hover {
        a, i {
          color: var(--footer-email-hover-color);
        }
      }
    }
  }

  &__copyright p {
    margin: 0;

    font-size: 14px;
    line-height: normal;
    color: var(--footer-copyright-text-color);
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 10px;

    a {
      font-size: 29px;
      color: var(--footer-social-color);
      transition: 0.25s color ease-out;

      &:hover {
        color: var(--footer-social-hover-color);
      }
    }
  }
}
