$component-name: footer;

.#{$component-name} {
  --footer-background-color: #{$brown-color};
  --footer-title-color: #{$yellow-color};
  --footer-caption-color: #{$white-color};
  --footer-heading-color: #{$white-color};

  --footer-input-color: #{$white-color};
  --footer-input-bg-color: #{$dark-yellow-color};
  --footer-hover-input-bg-color: #{$dark-brown-color};

  --footer-btn-color: #{$brown-color};
  --footer-btn-bg-color: #{$yellow-color};
  --footer-hover-btn-bg-color: #{$hover-yellow-color};

  & &__main {
    padding: 35px 0 15px;
    background: var(--footer-background-color);
  }

  &__main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  
  &__email-subscription {
    max-width: 213px;

    &__content {
      display: flex;
      flex-direction: column;

      &-logo {
        margin-bottom: 25px;
      }

      &-title {
        margin-bottom: 15px;
        
        * {
          margin: 0;
        }

        &-label {
          font-size: 12px;
          line-height: normal;
          font-weight: normal;
          color: var(--footer-caption-color);
          display: inline-flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;

          strong {
            font-size: 16px;
            line-height: normal;
            font-weight: normal;
            color: var(--footer-title-color);
          }
        }
      }

      &-inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      &-input {
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        padding: 16px;
        line-height: normal;
        font-size: 12px;
        font-weight: normal;
        color: var(--footer-input-color);
        background-color: var(--footer-input-bg-color);
        border: none;
        border-radius: 8px;

        &:focus {
          color: var(--footer-input-color);
          background-color: var(--footer-hover-input-bg-color);
          box-shadow: none;
        }
      }

      &-btn {
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        padding: 14px 0 13px;
        line-height: normal;
        font-size: 16px;
        font-weight: normal;
        color: var(--footer-btn-color);
        background-color: var(--footer-btn-bg-color);
        border: none;
        border-radius: 8px;

        &:hover {
          color: var(--footer-btn-color);
          background-color: var(--footer-hover-btn-bg-color);
          box-shadow: none;
        }
      }
    }
  }

  & &__block {

    &__content {
      padding-top: 0.5rem;
      color: var(--footer-text-color);
    }

    @include media-breakpoint-down(md) {
      &__content {
        font-size: 0.875rem;
      }
    }

    &__content-list {

      margin-bottom: 0;

      a {
        display: block;
        padding: 0.25rem;
        padding-left: 0;
        color: var(--footer-text-color);
        transition: 0.25s ease-out;

        &:hover {
          color: var(--footer-hover-color);
        }

        &.logout {
          color: #d5343c;
        }

      }

      @include media-breakpoint-down(md) {
        a {
          padding: 0.5rem;
          padding-left: 0;
        }
      }

    }

    &__content-contact {
      a {
        color: var(--footer-text-color);

        &:hover {
          color: var(--footer-hover-color);
        }
      }

      .contact__infos {
        margin-bottom: 1rem;
      }

      .contact__phone,
      .contact__fax {
        margin-bottom: 0.5rem;
      }

      > div:last-child {
        margin-bottom: 0;
      }

      .contact__infos,
      .contact__phone,
      .contact__fax,
      .contact__email {
        display: flex;
        align-items: center;

        i {
          margin-right: 0.5rem;
        }
      }
    }

    &__title {
      font-size: 1rem;
      font-weight: 600;

      &,
      a {
        color: var(--footer-heading-color);
      }
    }

    @include media-breakpoint-up(md) {
      &__title {
        margin-bottom: 1.25rem;
      }
    }

    @include media-breakpoint-down(md) {
      &:last-child {
        margin-bottom: 2rem;
      }
    }

  }

}
