$component-name: header-bottom;

.#{$component-name} {
  --header-catalog-bg-color: #{$brown-color};
  --header-catalog-color: #{$cream-color};
  --header-hover-catalog-bg-color: #{$dark-yellow-color};
  --header-hover-catalog-color: #{$cream-color};

  --header-search-bg-color: #{$white-color};
  --header-search-border-color: #{$brown-color};
  --header-search-color: #{$brown-color};

  --header-icons-color: #{$brown-color};
  --header-hover-icons-color: #{$dark-brown-color};

  --header-cart-badge-bg-color: #{$dark-yellow-color};
  --header-cart-badge-color: #{$white-color};

  padding: 0;
  border-bottom: var(--header-bottom-border-bottom);

  &__row {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    flex-wrap: nowrap;
  }

  .logo-container {
    padding: 0;
    margin: 0;

    .navbar-brand {
      max-width: 100%;
      max-height: 50px;
      height: 50px;
      padding: 0;
      width: 110px;

      .logo {
        width: auto;
        max-height: inherit;
      }
    }
  }

  .navigation-container {
    width: 100%;
    padding: 0 35px;

    .catalog-btn {
      padding: 7px 18px;
      background-color: var(--header-catalog-bg-color);
      color: var(--header-catalog-color);
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      gap: 15px;

      .catalog-icon {
        color: inherit;
        font-size: 24px;
      }

      .catalog-span {
        color: inherit;
        font-size: 16px;
        font-weight: 400;
      }

      &:hover {
        background-color: var(--header-hover-catalog-bg-color);
        color: var(--header-hover-catalog-color);
      }
    }

    .search-container {
      width: 100%;
      margin-left: 25px;

      .search-widgets {
        width: 100%;
      }

      #search_widget {
        .js-search-input {
          padding: 10px 20px;
          border-radius: 8px;
          border: 2px solid var(--header-search-border-color);
          background-color: var(--header-search-bg-color);
          color: var(--header-search-color);
          font-weight: bold;
        }

        input::placeholder {
          opacity: 0.8;
        }

        .search {
          right: 0;
        }
      }
    }
  }

  .actions-container {
    gap: 25px;

    a.action-btn {
      color: var(--header-icons-color);
      position: relative;

      :hover {
        color: var(--header-hover-icons-color);
      }

      span {
        display: flex;
      }

      .action-icon{
        font-size: 40px;
      
        &.action-user-icon {
          font-size: 45px;
        }
        &.action-cart-icon {
          font-size: 38px;
        }
      }

      .action-cart-badge {
        position: absolute;
        right: -5px;
        top: -3px;
        font-size: 11px;
        background-color: var(--header-cart-badge-bg-color);
        color: var(--header-cart-badge-color); 
        border-radius: 50%;
        padding: 1px 4px;
      }
    }
  }

  .nav-link {
    &:active,
    &.active {
      color: var(--bs-white);
    }

    &:active:hover {
      color: var(--bs-white);
    }
  }
}
