$component-name: header-top;

.#{$component-name} {
  --header-links-color: #{$primary-white};
  --header-hover-links-color: #{$accent-yellow};
  position: relative;
  z-index: 1030;

  &__left {
    padding: 0;
    margin: 0;

    .left-block {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
      margin: 0;

      .left-block__title {
        display: none;
      }

      .left-block__content--list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 45px;

        li {
          a {
            font-size: 16px;
            font-weight: 400;
            color: var(--header-links-color);

            &:hover {
              color: var(--header-hover-links-color);
            }
          }
        }
      }
    }
  }
}
