$component-name: header-bottom;

.#{$component-name} {
  --header-bg-color: #{$primary-white};

  --header-catalog-bg-color: #{$primary-brown};
  --header-catalog-color: #{$primary-cream};
  --header-hover-catalog-bg-color: #{$accent-yellow};
  --header-hover-catalog-color: #{$primary-cream};
  --header-active-catalog-bg-color: #{$primary-yellow};
  --header-active-catalog-color: #{$primary-brown};

  --header-search-bg-color: #{$primary-white};
  --header-search-border-color: #{$primary-brown};
  --header-search-color: #{$primary-brown};
  --header-hover-search-color: #{$accent-brown};

  --header-icons-color: #{$primary-brown};
  --header-hover-icons-color: #{$accent-white};
  --header-active-icons-color: #{$primary-brown};

  --header-cart-badge-bg-color: #{$accent-yellow};
  --header-cart-badge-color: #{$primary-white};

  padding: 0;
  position: absolute;
  top: 0;
  z-index: 1030;
  width: 100%;
  background-color: var(--header-bg-color);

  &__row {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    flex-wrap: nowrap;
  }

  .logo-container {
    padding: 0;
    margin: 0;

    .navbar-brand {
      max-width: 100%;
      height: 54px;
      max-height: 54px;
      padding: 0;
      width: 118px;

      .logo {
        width: auto;
        max-height: inherit;
      }
    }
  }

  .navigation-container {
    width: 100%;
    padding: 0 35px;

    .catalog-btn {
      padding: 7px 18px;
      background-color: var(--header-catalog-bg-color);
      color: var(--header-catalog-color);
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      gap: 15px;
      border: 0;
      transition: background-color .25s ease-out, color .25s ease-out;
      min-width: 150px;
      justify-content: center;

      .catalog-icon {
        color: inherit;
        font-size: 24px;
      }

      .catalog-span {
        color: inherit;
        font-size: 16px;
        font-weight: 400;
      }

      & > .catalog-btn-content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
      }

      .catalog-open-span {
        display: block;
      }

      .catalog-close-span {
        display: none;
        transform: rotate(0deg);
      }

      @keyframes spin360 {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(90deg); }
      }

      &.active {
        background-color: var(--header-active-catalog-bg-color);
        color: var(--header-active-catalog-color);

        .catalog-open-span {
          display: none;
        }

        .catalog-close-span {
          display: inline-block;
          animation: spin360 .25s ease forwards;
        }
      }

      &:hover {
        background-color: var(--header-hover-catalog-bg-color);
        color: var(--header-hover-catalog-color);
      }
    }

    .search-container {
      width: 100%;
      margin-left: 25px;

      .search-widgets {
        width: 100%;
      }

      #search_widget {
        .js-search-input {
          padding: 7px 18px;
          border-radius: 8px;
          border: 2px solid var(--header-search-border-color);
          background-color: var(--header-search-bg-color);
          color: var(--header-search-color);
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
        }

        .js-search-input::placeholder {
          opacity: 1;
        }

        .search {
          right: 0;
          font-size: 22px;
          padding: 7px 17px;
          color: var(--header-search-color);
          cursor: pointer;
          transition: color .25s ease-out;

          &:hover {
            color: var(--header-hover-search-color);
          }
        }
      }
    }
  }

  .actions-container {
    gap: 25px;

    a.action-btn {
      position: relative;

      .action-cart-container {
        position: relative;
        display: inline-flex;
      }

      span {
        display: flex;
      }

      .action-icon{
        font-size: 40px;
        overflow: visible;
        display: inline-block;

        path {
          transition: fill .25s ease-out;
        }
      
        &.action-user-icon {
          width: 33px;
          height: 33px;
        }
        &.action-cart-icon {
          width: 35px;
          height: 35px;
        }
        &.action-wishlist-icon {
          width: 39px;
          height: 33px;
        }

        .action-icon-outline {
          fill: var(--header-icons-color);
        }

        .action-icon-filler {
          fill: transparent;
        }
      }

      &:is(.active, :active, :focus) .action-icon {
        .action-icon-filler {
          fill: var(--header-active-icons-color);
        }
      }
      &:hover .action-icon {
        .action-icon-filler {
          fill: var(--header-hover-icons-color);
        }
      }

      .action-cart-badge {
        position: absolute;
        right: -5px;
        top: -3px;
        font-size: 11px;
        background-color: var(--header-cart-badge-bg-color);
        color: var(--header-cart-badge-color); 
        border-radius: 50%;
        width: 17px;
        height: 17px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
