$component-name: header-bottom;

.#{$component-name} {
  --header-catalog-bg-color: #{$brown-color};
  --header-catalog-color: #{$cream-color};
  --header-hover-catalog-bg-color: #{$dark-yellow-color};
  --header-hover-catalog-color: #{$cream-color};

  --header-icons-color: #{$brown-color};
  --header-hover-icons-color: #{$dark-brown-color};

  --header-cart-badge-bg-color: #{$dark-yellow-color};
  --header-cart-badge-color: #{$white-color};

  padding: 0;
  border-bottom: var(--header-bottom-border-bottom);

  &__row {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    flex-wrap: nowrap;
  }

  .logo-container {
    padding: 0;
    margin: 0;

    .navbar-brand {
      max-width: 100%;
      max-height: 50px;
      height: 50px;
      padding: 0;

      .logo {
        width: auto;
        max-height: inherit;
      }
    }
  }

  .navigation-container {
    max-width: 900px;
    width: 100%;

    .catalog-btn {
      padding: 7px 18px;
      background-color: var(--header-catalog-bg-color);
      color: var(--header-catalog-color);
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      gap: 15px;

      .catalog-icon {
        color: inherit;
        font-size: 24px;
      }

      .catalog-span {
        color: inherit;
        font-size: 16px;
        font-weight: 400;
      }

      &:hover {
        background-color: var(--header-hover-catalog-bg-color);
        color: var(--header-hover-catalog-color);
      }
    }
  }

  .actions-container {
    gap: 25px;

    a.action-btn {
      color: var(--header-icons-color);
      position: relative;

      :hover {
        color: var(--header-hover-icons-color);
      }

      span {
        display: flex;
      }

      .action-icon{
        font-size: 40px;
      
        &.action-user-icon {
          font-size: 45px;
        }
        &.action-cart-icon {
          font-size: 38px;
        }
      }

      .action-cart-badge {
        position: absolute;
        right: -5px;
        top: -3px;
        font-size: 11px;
        background-color: var(--header-cart-badge-bg-color);
        color: var(--header-cart-badge-color); 
        border-radius: 50%;
        padding: 1px 4px;
      }
    }
  }

  .nav-link {
    &:active,
    &.active {
      color: var(--bs-white);
    }

    &:active:hover {
      color: var(--bs-white);
    }
  }
}
