$component-name: header-bottom;

.#{$component-name} {
  --header-top-border-bottom: #{$header-top-border-bottom};
  --header-bottom-border-bottom: #{$header-bottom-border-bottom};

  padding: 0;
  border-bottom: var(--header-bottom-border-bottom);

  &__row {
    padding: 15px 0;
  }

  .logo-container {
    padding: 0;
    margin: 0;

    .navbar-brand {
      max-width: 100%;
      max-height: 60px;
      padding: 0;

      .logo {
        width: auto;
        max-height: inherit;
      }
    }
  }

  .nav-link {
    &:active,
    &.active {
      color: var(--bs-white);
    }

    &:active:hover {
      color: var(--bs-white);
    }
  }
}
