$component-name: header-top;

.#{$component-name} {

  &__left {
    padding: 0;
    margin: 0;

    .left-block {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
      margin: 0;

      .left-block__title {
        display: none;
      }

      .left-block__content--list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
          margin-right: 45px;
        }
      }
    }
  }

  a:not(.dropdown-item) {
    color: var(--header-top-color);

    &:hover {
      &,
      i {
        color: var(--bs-primary);
      }
    }
  }

  &__right {
    > *:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}
