$component-name: home-categories-list;

.#{$component-name}__container {
  position: relative;
  padding: 0 0 35px;
}

.#{$component-name} {
  --home-categories-list-bg-color: #{$primary-white};
  --home-categories-list-hover-bg-color: #{$secondary-white};
  --home-categories-list-active-bg-color: #{$primary-brown};

  --home-categories-list-arrow-color: #{$primary-white};
  --home-categories-list-arrow-bg-color: #{$primary-brown};
  --home-categories-list-hover-arrow-color: #{$primary-white};
  --home-categories-list-hover-arrow-bg-color: #{$accent-yellow};

  --home-categories-list-span-color: #{$primary-brown};
  --home-categories-list-active-span-color: #{$primary-yellow};
  --home-categories-list-active-icon-color: #{$primary-yellow};

  --home-categories-list-button-color: #{$primary-brown};
  --home-categories-list-button-bg-color: #{$primary-yellow};
  --home-categories-list-hover-button-color: #{$primary-brown};
  --home-categories-list-hover-button-bg-color: #{$secondary-yellow};

  --home-categories-list-hider-bg-color: #{$primary-gray};
  position: relative;

  &__content {
    position: relative;
    margin: 0;
    height: var(--slide-height);
    overflow: hidden;
    border-radius: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: var(--home-categories-list-bg-color);
    transition: background-color 0.25s ease;

    a {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    picture {
      position: relative;
      display: inline-block;
      margin-bottom: 24px;
    }

    picture::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--home-categories-list-active-icon-color);
      mix-blend-mode: screen;
      opacity: 0;
      transition: opacity 0.25s ease;
      pointer-events: none;
    }

    img {
      width: 100px;
      height: 80px;
      object-fit: contain;
      display: block;
      position: relative;
    }

    figcaption {
      color: var(--home-categories-list-span-color);
      font-weight: bold;
      font-size: 20px;
    }

    &:hover {
      background-color: var(--home-categories-list-hover-bg-color);
    }

    &.active {
      background-color: var(--home-categories-list-active-bg-color);

      picture::after {
        opacity: 1;
      }

      figcaption {
        color: var(--home-categories-list-active-span-color);
      }
    }
  }

  .embla {
    width: 100%;
    margin: auto;
    --slide-height: 188px;
    --slide-spacing: 24px;
    --slide-size: 212px;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__buttons {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 100%;
    pointer-events: none;
  }
  .embla__button {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--home-categories-list-arrow-bg-color);
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 43px;
    height: 107px;
    z-index: 1;
    border-radius: 8px;
    color: var(--home-categories-list-arrow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .25s ease-out, color .25s ease-out, opacity .25s ease-out;
    pointer-events: all;
  }
  .embla__button--prev {
    margin-left: -53px;
  }
  .embla__button--next {
    margin-right: -53px;
  }
  .embla__button:hover {
    background-color: var(--home-categories-list-hover-arrow-bg-color);
    color: var(--home-categories-list-hover-arrow-color);
  }
  .embla__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--home-categories-list-arrow-bg-color);
    color: var(--home-categories-list-hover-arrow-color);
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
}
