#home-slider {
  .carousel-link {
    align-items: start;
    height: 100%;
  }

  .carousel-content {
    height: 100%;
  }
}

.slider-container {
  margin: 35px 0;

  .ratio-homeSlider {
    height: 330px;

    --bs-aspect-ratio: calc(9 / 21 * 100%); // 21x9
    @include media-breakpoint-up(md) {
      --bs-aspect-ratio: calc(7 / 30 * 100%); // 30x7
    }
  }
}
