.page-product {
  $component-name: product;

  .wrapper__content {
    display: flex;
    flex-direction: column;
  }

  .#{$component-name} {
    --product-bg-color: #{$primary-white};
    --product-title-color: #{$primary-brown};
    --product-discount-price-color: #{$accent-white};
    --product-current-price-color: #{$accent-yellow};

    --product-availability-color: #{$primary-brown};

    --product-description-short-color: #{$primary-brown};
    --product-variant-label-color: #{$primary-brown};

    --product-variant-radio-color: #{$primary-brown};
    --product-variant-radio-bg-color: #{$primary-gray};
    --product-variant-radio-hover-bg-color: #{$secondary-white};
    --product-variant-radio-active-color: #{$primary-white};
    --product-variant-radio-active-bg-color: #{$primary-brown};

    --product-variant-color-bg-color: #{$primary-black};
    --product-variant-color-active-border-color: #{$primary-white};
    --product-variant-color-active-contrast-border-color: #{$primary-yellow};

    --product-buy-btn-color: #{$primary-white};
    --product-buy-btn-bg-color: #{$primary-brown};
    --product-buy-btn-hover-color: #{$primary-white};
    --product-buy-btn-hover-bg-color: #{$accent-brown};

    --product-wishlist-color: #{$primary-brown};
    --product-wishlist-bg-color: #{$primary-white};
    --product-wishlist-hover-color: #{$accent-white};
    --product-wishlist-active-color: #{$primary-brown};

    --product-thumbnail-bg-color: #{$primary-black};
    --product-modal-bg-color: #{$primary-black-modal-bg};
    --product-modal-shadow-color: #{$accent-yellow};

    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: var(--product-bg-color);
    border-radius: 8px 8px 0 0;
    margin-top: 10px;

    &__left {
      max-width: 573px;
      width: 100%;
    }

    &__right {
      padding-left: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: max-content;
      position: -webkit-sticky;
      position: sticky;
      top: 90px;
    }

    &__name {
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: bold;
      line-height: normal;
      color: var(--product-title-color);
    }

    &__prices {
      margin-bottom: 20px;
      .prices__wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .#{$component-name}__discount {
          margin-right: 20px;
          text-decoration: line-through;
          color: var(--product-discount-price-color);
          font-size: 20px;
          font-weight: bold;
          line-height: normal;

        }

        .#{$component-name}__current-price {
          margin-right: 20px;
          color: var(--product-current-price-color);
          font-size: 36px;
          font-weight: bold;
          line-height: normal;
        }
      }
    }

    &-availability {
      margin-bottom: 20px;
      &__title {
        font-size: 16px;
        line-height: normal;
        margin: 0;
        color: var(--product-availability-color);
      }
    }

    &__description-short {
      position: relative;
      margin-bottom: 20px;
      margin-top: 20px;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background-repeat: repeat-x;
        background-position: center;
        background-size: auto 100%;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1440 1%27> <path d=%27M1440 0.5L0 0.5%27 stroke=%27%23402120%27 stroke-linecap=%27round%27 stroke-dasharray=%277 7%27/> </svg>");
      }

      * {
        margin: 0!important;
        font-size: 16px!important;
        font-weight: normal!important;
        line-height: normal!important;
        letter-spacing: normal!important;
        text-transform: none!important;
        background-color: transparent!important;
        color: var(--product-description-short-color)!important;
        font-family: inherit!important;
      }
    }

    &__infos {
      .accordion-button {
        padding: 1.25rem 0;
        font-size: 1.25rem;
        font-weight: 700;
      }

      .accordion-body {
        padding: 0;
      }
    }

    &__images {
      margin-bottom: 1rem;

      .carousel {
        overflow: hidden;
        border-radius: 8px;

        .carousel-control-prev, .carousel-control-next {
          z-index: 15;
          align-items: center;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: 0;
          border-radius: 8px;
          cursor: pointer;
          display: flex;
          height: 107px;
          justify-content: center;
          margin: 0;
          padding: 0;
          pointer-events: all;
          text-decoration: none;
          width: 43px;
          display: none;
        }

        .carousel-control-prev {
          left: 15px;
        }

        .carousel-control-next {
          right: 15px;
        }
      }

      .ets-wishlist-button-add {
        z-index: 15;
        width: 50px;
        height: 50px;
        padding: 0;
        border: none;
        border-radius: 12px;
        top: 20px;
        position: absolute;
        right: 20px;
        background-color: var(--product-wishlist-bg-color);
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);

        svg {
          width: 26px;
          height: auto;

          .action-icon-filler {
          transition: 0.25s ease-out;
            fill: transparent;
          }
        }

        &:hover {
          .action-icon-filler {
            fill: var(--product-wishlist-hover-color);
          }
        }

        &.delete_wishlist {
          .action-icon-filler {
            fill: var(--product-wishlist-active-color);
          }
        }
      }

      &__modal-opener {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        z-index: 10;
      }
    }

    &__left {
      .js-product-images-modal {
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
        background-color: var(--product-modal-bg-color);

        .modal-content {
          box-shadow: 0px 74px 106.8px -95px var(--product-modal-shadow-color);
          border: 0;
          border-radius: 8px;
        }
      }

      .carousel {
        .carousel-control-prev, .carousel-control-next {
          display: none;
        }
      }
    }

    &__variants {
      margin-top: 20px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background-repeat: repeat-x;
        background-position: center;
        background-size: auto 100%;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1440 1%27> <path d=%27M1440 0.5L0 0.5%27 stroke=%27%23402120%27 stroke-linecap=%27round%27 stroke-dasharray=%277 7%27/> </svg>");
      }

      .variant {
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;

        .form-label {
          display: flex;
          max-width: 170px;
          font-size: 16px;
          font-weight: bold;
          line-height: 32px;
          color: var(--product-variant-label-color);
          margin: 0;
          width: 100%;
        }

        // RADIO
        .radio-variants {
          display: flex;
          flex-wrap: wrap;
          row-gap: 10px;
          column-gap: 15px;
          margin-bottom: 0;
          width: 100%;
          justify-content: end;

          .radio-variant {
            margin: 0;
            position: relative;
            padding: 0;
            min-height: unset;

            label {
              transition: 0.25s ease-out;
              cursor: pointer;
              padding: 7px 14px;
              background-color: var(--product-variant-radio-bg-color);
              border-radius: 12px;
              
              .radio-label {
                font-size: 16px;
                font-weight: bold;
                line-height: normal;
                color: var(--product-variant-radio-color);
              }
            }

            &:hover {
              label {
                background-color: var(--product-variant-radio-hover-bg-color);
              }
            }

            &.active {
              label {
                background-color: var(--product-variant-radio-active-bg-color);

                .radio-label {
                  color: var(--product-variant-radio-active-color);
                }
              }
            }

            .input-radio {
              display: none;
            }
          }
        }

        // COLORS
        .color-variants {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-bottom: 0;
          width: 100%;
          justify-content: end;

          .color-variant {
            position: relative;
            
            .input-color {
              display: none;
            }

            label {
              --indicator: var(--product-variant-color-active-border-color);
              display: block;
              line-height: 0;
              position: relative;

              &::after {
                content: "";
                display: block;
                width: 22px;
                height: 22px;
                position: absolute;
                border-radius: 7px;
                border: 3px solid var(--indicator);
                z-index: 10;
                opacity: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;
                transition: opacity 0.25s ease-out;
              }
            }

            .color {
              margin: 0;
              width: 34px;
              height: 34px;
              display: block;
              border-radius: 8px;
              border: 0;
              box-shadow: 1px 1px 14px -1px rgba(0, 0, 0, 0.25);
            }

            .attribute-overview {
              background: var(--product-variant-color-bg-color);
              opacity: 0;
              width: 100%;
              height: 100%;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              pointer-events: none;
              border-radius: 8px;
              transition: 0.25s opacity ease-out;
            }

            &:hover {
              .attribute-overview {
                background: var(--product-variant-color-bg-color);
                opacity: 0.2;
              }
            }

            &.color-white {
              label {
                --indicator: var(--product-variant-color-active-contrast-border-color);
              }
            }
          }

          .color-variant.active {
            label {
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &__add-to-cart {
      margin-top: 25px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background-repeat: repeat-x;
        background-position: center;
        background-size: auto 100%;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1440 1%27> <path d=%27M1440 0.5L0 0.5%27 stroke=%27%23402120%27 stroke-linecap=%27round%27 stroke-dasharray=%277 7%27/> </svg>");
      }

      .product-actions-container {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .sami-input-group {
          display: flex;
          align-items: center;
        }

        .product-actions__button {
          width: 100%;
          
          button {
            width: 100%;
            height: 48px;
            background-color: var(--product-buy-btn-bg-color);
            color: var(--product-buy-btn-color);
            border: 0;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
            line-height: normal;
            padding: 0;
            transition: 0.25s color ease-out, 0.25s background-color ease-out;

            &:hover {
              color: var(--product-buy-btn-hover-color);
              background-color: var(--product-buy-btn-hover-bg-color);
            }
          }
        }
      }
    }
  }

  .#{$component-name}-bottom {
    --product-bg-color: #{$primary-white};
    --product-tabs-color: #{$accent-white};
    --product-tabs-hover-color: #{$primary-brown};
    --product-tabs-active-color: #{$primary-brown};

    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: var(--product-bg-color);
    border-radius: 0 0 8px 8px;
    position: relative;
    margin-bottom: 60px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-repeat: repeat-x;
      background-position: center;
      background-size: auto 100%;
      background-image: url("data:image/svg+xml;utf8, <svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1440 1%27> <path d=%27M1440 0.5L0 0.5%27 stroke=%27%23402120%27 stroke-linecap=%27round%27 stroke-dasharray=%277 7%27/> </svg>");
    }

    .product-tabs {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
      gap: 40px;

      &__link {
        font-size: 36px;
        line-height: normal;
        font-weight: bold;
        color: var(--product-tabs-color);
        cursor: pointer;
      }

      &__item:hover {
        .product-tabs__link {
          color: var(--product-tabs-hover-color);
        }
      }

      &__item {
        .product-tabs__link.active {
          color: var(--product-tabs-active-color);
        }
      }

      &__item-close {
        margin-left: auto;

        .product-tabs__close {
          display: flex;
          
          i {
            transition: color 0.25s ease-out;
            font-size: 40px;
            line-height: 40px;
            font-weight: normal;
            color: var(--product-tabs-color);
            cursor: pointer;
          }
        } 

        .product-tabs__close.hide {
          display: none;
        }
      }

      &__item-close:hover {
        i {
          color: var(--product-tabs-hover-color);
        }
      }
    }

    .product-tabs__content {
      padding-top: 40px;
    }

    .product-tabs__content.hide {
      display: none;
    }

    .product-tabs__content.product-description {
      * {
        margin: 0!important;
        font-size: 16px!important;
        font-weight: normal!important;
        line-height: normal!important;
        letter-spacing: normal!important;
        text-transform: none!important;
        background-color: transparent!important;
        color: var(--product-description-short-color)!important;
        font-family: inherit!important;
      }
    } 
  }
}

// Needs to be outside of the .page-product scope because it can be inside a modal
.thumbnails__container {
  margin-top: 30px;

  .thumbnails__list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: left;
  }

  .thumbnail {
    width: 132px;
    height: 132px;
    position: relative;
    cursor: pointer;

    img {
      border-radius: 8px;
      width: 100%;
    }

    .thumbnail-overview {
      background: var(--product-thumbnail-bg-color);
      opacity: 0.2;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      border-radius: 8px;
      transition: 0.25s opacity ease-out;
    }

    &:hover {
      .thumbnail-overview {
        opacity: 0.1;
      }
    }

    &.active {
      .thumbnail-overview {
        opacity: 0;
      }
    }
  }
}
