.page-product {
  $component-name: product;

  .wrapper__content {
    display: flex;
    flex-direction: column;
  }

  .#{$component-name} {
    --product-bg-color: #{$primary-white};
    --product-title-color: #{$primary-brown};
    --product-discount-price-color: #{$accent-white};
    --product-current-price-color: #{$accent-yellow};

    --product-description-short-color: #{$primary-brown};
    --product-variant-label-color: #{$primary-brown};

    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: var(--product-bg-color);
    border-radius: 8px 8px 0 0;
    margin-top: 30px;

    &__left {
      max-width: 573px;
      width: 100%;
    }

    &__right {
      padding-left: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &__name {
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: bold;
      line-height: normal;
      color: var(--product-title-color);
    }

    &__prices {
      margin-bottom: 20px;
      .prices__wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .#{$component-name}__discount {
          margin-right: 20px;
          text-decoration: line-through;
          color: var(--product-discount-price-color);
          font-size: 20px;
          font-weight: bold;
          line-height: normal;

        }

        .#{$component-name}__current-price {
          margin-right: 20px;
          color: var(--product-current-price-color);
          font-size: 36px;
          font-weight: bold;
          line-height: normal;
        }
      }
    }

    &__description-short {
      position: relative;
      margin-bottom: 20px;
      margin-top: 20px;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background-repeat: repeat-x;
        background-position: center;
        background-size: auto 100%;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1440 1%27> <path d=%27M1440 0.5L0 0.5%27 stroke=%27%23402120%27 stroke-linecap=%27round%27 stroke-dasharray=%277 7%27/> </svg>");
      }

      * {
        margin: 0;
        font-size: 16px!important;
        font-weight: normal!important;
        line-height: normal!important;
        letter-spacing: normal!important;
        text-transform: none!important;
        background-color: transparent!important;
        color: var(--product-description-short-color)!important;
        font-family: inherit!important;
      }
    }

    &__infos {
      .accordion-button {
        padding: 1.25rem 0;
        font-size: 1.25rem;
        font-weight: 700;
      }

      .accordion-body {
        padding: 0;
      }
    }

    &__images {
      margin-bottom: 1rem;

      .carousel {
        overflow: hidden;
        border-radius: 8px;
      }

      &__modal-opener {
        position: absolute;
        right: 0.635rem;
        bottom: 0.635rem;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        min-width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        box-shadow: 0.125rem -0.125rem 0.25rem 0 rgb(0 0 0 / 20%);
      }
    }

    &__variants {
      margin-top: 20px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background-repeat: repeat-x;
        background-position: center;
        background-size: auto 100%;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1440 1%27> <path d=%27M1440 0.5L0 0.5%27 stroke=%27%23402120%27 stroke-linecap=%27round%27 stroke-dasharray=%277 7%27/> </svg>");
      }

      .variant {
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .form-label {
          display: flex;
          max-width: 170px;
          font-size: 16px;
          font-weight: bold;
          line-height: normal;
          color: var(--product-variant-label-color);
        }

        // RADIO
        .radio-variants {
          display: flex;
          flex-wrap: wrap;
          row-gap: 0.5rem;
          column-gap: 0.875rem;
          margin-bottom: 0;

          .radio-variant {
            margin: 0;
          }
        }

        // COLORS
        .color-variants {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-bottom: 0;

          .color-variant {
            .input-color {
              display: none;
            }

            label {
              display: block;
              line-height: 0;
            }

            .color {
              margin: 0;
            }
          }
        }
      }
    }

    &__add-to-cart {
      margin-bottom: 2rem;

      .product-actions__button button {
        width: 100%;
      }
    }

    &-pack__item {
      border: 1px $gray-200 solid;
    }
  }

  @include media-breakpoint-down(md) {
    .carousel-control-next {
      right: 1rem;
    }

    .carousel-control-prev {
      left: 1rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 3rem;
      height: 3rem;
    }
  }
}

// Needs to be outside of the .page-product scope because it can be inside a modal
.thumbnails__container {
  .thumbnail {
    img {
      border: 2px solid transparent;
      border-radius: 8px;
    }

    &.active img {
      border: 2px solid $primary;
    }
  }
}

// Hide product image zoom on quickview modal
body.modal-open {
  .quickview {
    .product__images__modal-opener {
      display: none;
    }
  }
}
