$component-name: product-miniature;

.#{$component-name} {
  --product-text-color: #{$brown-color};
  --product-text-hover-color: #{$dark-brown-color};

  --product-star-color: #{$dark-yellow-color};

  --product-price-color: #{$yellow-color};
  --product-discount-price-color: #{$dark-white-color};

  --product-view-link-bg-color: #{$white-color};
  --product-view-link-icon-color: #{$brown-color};
  --product-view-link-hover-icon-color: #{$dark-white-color};
  --product-view-link-active-icon-color: #{$brown-color};

  margin-bottom: 20px;
  padding: 0;
  width: 295px;

  .product-list-reviews {
    visibility: visible;
    padding: 0;
    width: fit-content;
    margin-left: auto;

    .grade-star {
      margin: 0;

      .star-content {
        margin: 0;

        .star-on {
          width: 10px;
          height: 10px;
          margin: 0;
          margin-top: 1px;
          background-image: none;

          fill: var(--product-star-color);
        }
      }
    }

    .average-grade {
      font-size: 12px;
      color: var(--product-text-color);
      margin-left: 5px;
    }
  }

  .card {
    transition: 0.25s ease-out;
    height: 100%;

    &:hover {
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    }
  }

  & .action-icon path {
    transition: fill .25s ease-out;
  }

  & .ets-wishlist-button-add {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 7px;
    background-color: var(--product-view-link-bg-color);
    transition: background-color 0.25s ease-out;
    border: 0;
    padding: 0;
    min-width: auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);

    .action-wishlist-icon {
      width: 24px;
      height: 24px;
      transition: fill 0.25s ease-out;

      .action-icon-outline {
        fill: var(--product-view-link-icon-color);
      }

      .action-icon-filler {
        fill: transparent;
      }

      &:hover .action-icon-filler {
        fill: var(--product-view-link-hover-icon-color);
      }

      &:active:focus .action-icon-filler {
        fill: var(--product-view-link-active-icon-color);
      }

    }

    &.delete_wishlist {
      .action-icon-filler {
        fill: var(--product-view-link-active-icon-color)!important;
      }
    }
  }

  & &__view-link {
    position: absolute;
    top: 56px;
    right: 10px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 7px;
    background-color: var(--product-view-link-bg-color);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);

    .action-cart-icon {
      width: 24px;
      height: 24px;
      transition: fill 0.25s ease-out;

      .action-icon-outline {
        fill: var(--product-view-link-icon-color);
      }

      .action-icon-filler {
        fill: transparent;
      }

      &:hover .action-icon-filler {
        fill: var(--product-view-link-hover-icon-color);
      }

      &:active:focus .action-icon-filler {
        fill: var(--product-view-link-active-icon-color);
      }
    }
  }

  & &__infos {
    position: relative;
    z-index: 90;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;

    &__top {
      margin-bottom: 10px;
      display: flex;
    }

    &__middle {
      height: 36px;
      margin-bottom: 10px;
    }
  }

  & &__category {
    margin: 0;
    font-size: 12px;
    color: var(--product-text-color);

    p {
      margin: 0;
    }

    &:hover {
      color: var(--product-text-hover-color);
    }
  }

  & &__title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--product-text-color);

    p {
      margin: 0;
    }

    &:hover {
      color: var(--product-text-hover-color);
    }
  }

  & &__image-container {
    position: relative;
    transition: 0.25s ease-out;
  }

  & &__image {
    height: auto;
    transition: 0.25s ease-out;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  & &__image-container {
    .#{$component-name}__link {
      position: relative;
      display: block;
      border-radius: 8px;
      overflow: clip;

      &:hover {
        .#{$component-name}__image {
          transform: scale(1.1);
        }
      }
    }
  }

  & &__prices {
    display: flex;
    font-size: 16px;
    font-weight: 400;
  }

  & &__price {
    margin-right: 15px;
    color: var(--product-price-color);
  }

  & &__regular-price {
    text-decoration: line-through;
    color: var(--product-discount-price-color);
  }

  & &__variants {
    .variant-links {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      > a {
        flex-shrink: 0;
        margin: 0;
      }
    }
  }
}
