$component-name: product-miniature;

.#{$component-name} {
  --product-text-color: #{$brown-color};
  --product-text-hover-color: #{$dark-brown-color};

  --product-star-color: #{$dark-yellow-color};

  --product-price-color: #{$yellow-color};
  --product-discount-price-color: #{$dark-white-color};

  margin-bottom: 20px;
  padding: 0;
  width: 295px;

  .product-list-reviews {
    visibility: visible;
    padding: 0;
    width: fit-content;
    margin-left: auto;

    .grade-star {
      margin: 0;

      .star-content {
        margin: 0;

        .star-on {
          width: 10px;
          height: 10px;
          margin: 0;
          margin-top: 1px;
          background-image: none;

          fill: var(--product-star-color);
        }
      }
    }

    .average-grade {
      font-size: 12px;
      color: var(--product-text-color);
      margin-left: 5px;
    }
  }

  .card {
    transition: 0.25s ease-out;
    height: 100%;

    &:hover {
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    }
  }

  & &__infos {
    position: relative;
    z-index: 90;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;

    &__top {
      margin-bottom: 10px;
      display: flex;
    }

    &__middle {
      height: 36px;
      margin-bottom: 10px;
    }
  }

  & &__category {
    margin: 0;
    font-size: 12px;
    color: var(--product-text-color);

    p {
      margin: 0;
    }

    &:hover {
      color: var(--product-text-hover-color);
    }
  }

  & &__title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--product-text-color);

    p {
      margin: 0;
    }

    &:hover {
      color: var(--product-text-hover-color);
    }
  }

  & &__image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.25s ease-out;
  }

  & &__image {
    height: auto;
    transition: 0.25s ease-out;
  }

  & &__link {
    position: relative;
    display: block;

    &:hover {
      .#{$component-name}__image {
        transform: scale(1.1);
      }

      .#{$component-name}__image-container {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  & &__regular-price {
    text-decoration: line-through;
    color: var(--bs-gray-700);
  }

  & &__prices {
    display: flex;
  }

  & &__price {
    font-size: 16px;
    margin-right: 15px;
    color: var(--product-price-color);
  }

  &__discount-price {
    &__regular-price {
      color: var(--product-discount-price-color);
    }
  }

  & &__variants {
    .variant-links {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      > a {
        flex-shrink: 0;
        margin: 0;
      }
    }
  }
}
