.product-flags {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;  
  padding: 10px;
}

.badge {
  --flag-badge-color: #{$primary-white};
  --flag-classic-badge-bg-color: #{$primary-brown};
  --flag-on-sale-badge-bg-color: #{$accent-yellow};
  --flag-new-badge-bg-color: #{$primary-yellow};
  --flag-new-badge-text-color: #{$primary-brown};
  --flag-hot-bg-color: #{$primary-cream};
  --flag-hot-text-color: #{$primary-brown};

  color: var(--flag-badge-color);
  margin-right: 5px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 7px;
  padding: 6px 8px;
  min-width: 72px;

  &.classic {
    background-color: var(--flag-classic-badge-bg-color);
  }
  &.on-sale {
    background-color: var(--flag-on-sale-badge-bg-color);
  }
  &.new {
    background-color: var(--flag-new-badge-bg-color);
    color: var(--flag-new-badge-text-color);
  }
  &.hot {
    background-color: var(--flag-hot-bg-color);
    color: var(--flag-hot-text-color);
  }

  &.discount {
    display: none;
  }
}
