@font-face {
  font-family: Vazirmatn;
  font-style: normal;
  font-weight: 400;
  src: url(..//fonts/Vazirmatn-Regular-58c84f666915410c0ba8.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Vazirmatn;
  font-style: normal;
  font-weight: 700;
  src: url(..//fonts/Vazirmatn-Bold-0d6a47ce8c185a9436b2.woff2) format("woff2");
  font-display: swap;
}
body.lang-fa, body.lang-ar {
  font-family: Vazirmatn, sans-serif;
}

.material-icons.rtl-flip {
  transform: scaleX(-1);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  transform: scaleX(-1);
}

.dropdown-menu-start {
  --bs-position: end;
}

#search_widget .search {
  transform: translateX(-1rem);
}
