$component-name: header;

.#{$component-name} {
  --header-bg: #{$white-color};
  --header-top-bg: #{$brown-color};
  --header-color: #{$cream-color};
  --header-dark-color: #{$brown-color};
  --header-top-color: #{$white-color};

  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 100vw;
  background-color: var(--header-bg);
}

