$component-name: header-top;

.#{$component-name} {
  --header-top-bg: #{$primary-brown};
  --header-top-color: #{$primary-white};
  background-color: var(--header-top-bg);

  a {
    color: var(--header-top-color);
  }

  &__right {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  &__right,
  &__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .form-select {
    padding-right: 1.5rem;
    background-color: var(--header-top-bg);
    background-position: right 0.12rem center;
    border: none;

    option {
      text-align: right;
    }
  }

  &-desktop {
    padding: 15px 0;
    margin: 0;

  }

  @include media-breakpoint-down(sm) {
    .container {
      padding: 0;
    }
  }
}
