$brown-color: #402120;
$cream-color: #F0CCCC;
$yellow-color: #F2A055;
$dark-brown-color: #7C492F;
$dark-yellow-color: #B9713F;
$dark-cream-color: #FBE1BB;
$white-color: #ffffff;

// General colors
$default-icon-color: var(--bs-gray-700);

// Footer
$footer-background-color: #16181c;
$footer-heading-color: var(--bs-white);
$footer-text-color: var(--bs-gray-300);

// Emailsubscriptions
$email-input-color: var(--bs-gray-300);
$email-input-border-color: var(--bs-gray-300);
