$primary-brown: #9f1a94;
$primary-cream: #ff8ef0;
$primary-yellow: #ff25a8;
$primary-white: #ffffff;

$accent-brown: #c01cb2;
$accent-cream: #ff8ef0;
$accent-yellow: #ff53ba;
$accent-white: #9F908F;

$secondary-white: #D5B198;
$secondary-yellow: #ce1b86;

$tertiary-yellow: #8f0e5b;

$primary-gray: #F2F2F2;

$primary-black: #000000;

$primary-black-modal-bg: rgba(0, 0, 0, 0.2);
$primary-yellow-box-shadow: rgba(242, 160, 85, 0.6);
