$primary-brown: #402120;
$primary-cream: #F0CCCC;
$primary-yellow: #F2A055;
$primary-white: #ffffff;

$accent-brown: #7C492F;
$accent-yellow: #B9713F;
$accent-cream: #FBE1BB;
$accent-white: #9F908F;

$secondary-white: #D5B198;
$secondary-yellow: #D58849;

$tertiary-yellow: #99613A;

$primary-gray: #F2F2F2;

$primary-black: #000000;

$primary-black-modal-bg: rgba(0, 0, 0, 0.2);
$primary-yellow-box-shadow: rgba(242, 160, 85, 0.6);
