$brown-color: #402120;
$cream-color: #F0CCCC;
$yellow-color: #F2A055;
$hover-yellow-color: #D58849;

$dark-brown-color: #7C492F;
$dark-yellow-color: #B9713F;
$dark-cream-color: #FBE1BB;

$white-color: #ffffff;
$dark-white-color: #9F908F;
$hover-white-color: #D5B198;

$gray-color: #F2F2F2;
$black-color-modal-bg: rgba(0, 0, 0, 0.2);

// General colors
$default-icon-color: var(--bs-gray-700);

// Footer
$footer-background-color: #16181c;
$footer-heading-color: var(--bs-white);
$footer-text-color: var(--bs-gray-300);

// Emailsubscriptions
$email-input-color: var(--bs-gray-300);
$email-input-border-color: var(--bs-gray-300);
