$component-name: section-title;

.#{$component-name} {
  &__container {
    --section-title-color: #{$brown-color};
    --section-title-link-color: #{$brown-color};
    --section-title-hover-link-color: #{$dark-brown-color};
    
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 20px 0;
  }

  font-size: 36px;
  font-weight: 600;
  color: var(--section-title-color);
  margin: 0;

  &__link {
    font-size: 16px;
    font-weight: 400;
    color: var(--section-title-link-color);
    text-decoration: none;
    display: inline-block;
    height: fit-content;

    &:hover {
      color: var(--section-title-hover-link-color);
    }
  }
}
